@import './vars';

body {
    margin-bottom: 128px;
}

.vg-toolbar {
    top: 8px;
    right: 6px;
    position: fixed;
    z-index: 100;
    background: #fff;
    border-radius: 3px;
}

.vg-imageCard {
    display: block;
}

.vg-imageCard_active {
    background: #ddffbe;
    box-shadow: 0 0 0 8px #ddffbe;
    border-radius: 1px;
}

.vg-imageCard__title, .vg-imageCard__title__circle, .vg-imageCard__title__filename {
    display: inline-block;
}

.vg-imageCard__title {
    vertical-align: middle;
    cursor: pointer;

    &:hover .vg-imageCard__title__circle {
        box-shadow: 0 0 0 1px #07cc06;
    }
    &:hover .vg-imageCard__title__filename {
        color: #03c126;
    }
}

input[type=checkbox].vg-imageCard__title__circle
{
    font-size: 99px;
    transform: scale(1.5);
}

.vg-imageCard__title_active {
    & .vg-imageCard__title__circle {
        box-shadow: 0 0 0 2px #03c126;
        background: #03c126;
    }

    & .vg-imageCard__title__filename {
        color: #03c126;
        font-weight: 500;
    }
}

.vg-imageCard__link {
    margin: 0 auto;
    display: block;
    outline: none;
    text-align: center;

    &:focus > .vg-imageCard__image {
        border-color: transparent;
        box-shadow: 0 0 0 2px #009dff;
    }
}

.vg-imageCard__image {
    max-width: 100%;
    max-height: 300px;
    padding: 4px;
    background: #fff;
    border: 1px solid rgba(0,0,0,.05);
    outline: none;

    &:hover {
        border-color: transparent;
        box-shadow: 0 0 0 2px #009dff;
    }
    &:active {
        border-color: transparent;
        box-shadow: 0 0 0 4px #ff5a68;
    }
}

.vg-header {
    text-align: center;
}

.vg-header__title {
    font-size: 34px;
    font-weight: 600;
}

.vg-header__dateModify {
    font-size: 13px;
    opacity: .54;
    -webkit-font-smoothing: antialiased;
}
