.vg-button {
    padding: 4px 8px;
    background: transparent;
    border: 1px solid rgba(0,0,0,.16);
    border-radius: 4px;
    color: rgba(0,0,0,.65);
    outline: none;

    cursor: pointer;

    &:hover {
        color: #009dff;
        border-color: #009dff;
    }
}

.vg-button_danger {
    &:hover {
        border-color: #ff5a68;
        color: #ff5a68;
    }
}

.vg-button_danger {
    &:hover {
        border-color: #ff5a68;
        color: #ff5a68;
    }
}


.vg-button__copy-to-clipboard_copied {
    &:before {
        content: "ОК!";
        position: absolute;
        margin-top: 25px;
        margin-left: 61px;
        font-size: 11px;
        color: #4CAF50;
    }
}
